<%# @article.commentsから値を一つずつ取り出し、パーシャルと同じ名前の変数に自動的に代入する%>
<%# 今回の場合はcommentがパーシャルの表示に利用できる%>
<%# アーカイブ済みの記事が表示されないようにする%>
<% unless  comment.archived? %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>

<%# 削除用のボタン%>
     <p>
        <%= link_to "Destroy Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %>
    </p>
<% end %>